* {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/css/fonts/montser/Montserrat-Regular.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/css/fonts/montser/Montserrat-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/css/fonts/montser/Montserrat-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/css/fonts/montser/Montserrat-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: extra-bold;
}
.mdh_viewp,
.mec_viewp,
.tag_viewp,
.mec_viewp,
.tag_viewp,
.mec_viewp,
.tag_viewp {
  display: inline-block;
  width: calc(100% - 115px);
  height: 100%;
  margin-left: -5px;
  position: relative;
  z-index: 0;
}
.mdh_viewp .mdh_viewp_top_nav {
  padding: 10px;
}
body {
  overflow: hidden;
  margin: 0px;
}
#mdh {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#mdh .modal.tag_new_modal .tag_develop {
  display: block !important;
  width: 100%;
  height: 100%;
}
#mdh .modal.tag_new_modal .tag_develop form {
  height: 100%;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n {
  width: 49.5%;
  display: inline-block;
  padding: 0px 10px 10px 10px;
  vertical-align: top;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n h1 {
  margin-top: 0px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n label {
  padding: 5px 5px 10px 0px;
  width: 100%;
  display: block;
  font-weight: bold;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_name_tag {
  padding: 15px 5px 15px 0px;
  display: block;
  position: relative;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_name_tag .fas.fa-tags {
  position: absolute;
  left: 10px;
  color: #ccc;
  top: 65px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_name_tag .name_tag {
  width: 100%;
  padding: 15px 15px 15px 32px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_date_range {
  padding: 15px 5px 15px 0px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_date_range .tag_date_holders {
  position: relative;
  display: inline-block;
  width: 48%;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_date_range .tag_date_holders .DayPickerInput {
  width: 100%;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_date_range .tag_date_holders .DayPickerInput input {
  padding: 15px 15px 15px 32px;
  width: 100%;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_date_range .tag_date_holders .fas.fa-calendar-alt {
  position: absolute;
  left: 10px;
  color: #ccc;
  top: 17px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_date_range .tag_date_holders.start {
  margin-right: 16px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_date_range .tag_date_holders.end {
  float: right;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_code_entry {
  padding: 15px 5px 15px 0px;
  position: relative;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_code_entry .fas.fa-code {
  position: absolute;
  left: 10px;
  color: #ccc;
  top: 56px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_n .tag_code_entry textarea {
  width: 100%;
  height: 120px;
  padding-left: 40px;
  padding-top: 8px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced {
  width: 49.5%;
  display: inline-block;
  padding: 0px 0px 10px 10px;
  vertical-align: top;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced h1 {
  margin-top: 0px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced label {
  padding: 5px 5px 10px 0px;
  width: 100%;
  display: block;
  font-weight: bold;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp {
  text-align: right;
  position: relative;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp .tag_scan_question {
  margin-right: 10px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp input[type='radio'] {
  position: absolute;
  visibility: hidden;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp .tag_advanced_radio {
  position: relative;
  display: inline-block;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp .tag_advanced_radio label {
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 17px;
  margin: 10px auto;
  height: 10px;
  z-index: 9;
  width: 85px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp .tag_advanced_radio:hover label {
  color: #0076cd;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp .check {
  display: inline-block;
  position: absolute;
  border: 4px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 28px;
  left: 2px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp input[type=radio]:checked ~ .check {
  border: 4px solid #0076cd;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp input[type=radio]:checked ~ .check::before {
  background: #0076cd;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .tag_advanced_encryp input[type=radio]:checked ~ label {
  color: #0076cd;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry {
  padding: 15px 0px 15px 0px;
  display: block;
  position: relative;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap input,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name input,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry input {
  width: 100%;
  padding: 15px 15px 15px 32px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap .fas.fa-barcode,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name .fas.fa-barcode,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry .fas.fa-barcode,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap .fas.fa-handshake,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name .fas.fa-handshake,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry .fas.fa-handshake,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap .fas.fa-link,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name .fas.fa-link,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry .fas.fa-link {
  position: absolute;
  left: 10px;
  color: #ccc;
  top: 65px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap .adv_build_urls,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name .adv_build_urls,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry .adv_build_urls {
  max-height: 120px;
  overflow-y: auto;
  margin: 4px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap .adv_build_urls .url_listing,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name .adv_build_urls .url_listing,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry .adv_build_urls .url_listing {
  padding: 5px;
  -webkit-box-shadow: 0px 3px 5px 0px #c5d5e9;
  -moz-box-shadow: 0px 3px 5px 0px #c5d5e9;
  box-shadow: 0px 3px 5px 0px #c5d5e9;
  margin: 4px;
  position: relative;
  border-radius: 3px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap .adv_build_urls span,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name .adv_build_urls span,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry .adv_build_urls span {
  color: #0076cd;
}
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_scan_cap .adv_build_urls .fas.fa-times-circle,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_part_name .adv_build_urls .fas.fa-times-circle,
#mdh .modal.tag_new_modal .tag_develop .tag_advanced .adv_url_entry .adv_build_urls .fas.fa-times-circle {
  color: #0076cd;
  position: absolute;
  right: 5px;
  cursor: pointer;
  top: 7px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_geo_listing {
  display: block;
}
#mdh .modal.tag_new_modal .tag_develop .tag_coo_listing {
  display: block;
}
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons {
  position: absolute;
  bottom: 100px;
  display: block;
  text-align: right;
  left: 0px;
  padding: 10px 40px 10px 10px;
  width: 100%;
}
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.geo,
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.coo {
  cursor: pointer;
  border: none;
  color: white;
  width: 180px;
  background: #0076cd;
  padding: 14px;
  margin-left: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.geo i,
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.coo i {
  margin-left: 5px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.goback {
  float: left;
  font-weight: bold;
  color: #0076cd;
  background: #f8f7f7;
  margin-left: 30px;
  border: 2px solid #0076cd;
  padding: 12px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 180px;
  display: inline-block;
  text-decoration: none;
}
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.goback i {
  margin-right: 5px;
}
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.goback .tag_nav_btn.goback:hover {
  background: #D5E8F6;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.geo:hover,
#mdh .modal.tag_new_modal .tag_develop .tag_nav_buttons .tag_nav_btn.coo:hover {
  opacity: .80;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
#mdh .modal.tag_new_modal .tag_develop .footer {
  height: 100px;
  background: #e6eaf5;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: calc(100% + 0px);
  margin-left: -30px;
  margin-right: -30px;
  border-radius: 5px;
  text-align: right;
  padding-right: 40px;
  padding-top: 30px;
}
#mdh .modal.tag_new_modal .tag_develop .footer button {
  font-weight: bold;
  color: #0076cd;
  background: #f8f7f7;
  margin-left: 10px;
  border: 2px solid #0076cd;
  height: 38px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 180px;
  display: inline-block;
  text-decoration: none;
}
#mdh .modal.tag_new_modal .tag_develop .footer button i {
  margin-left: 5px;
}
#mdh .modal.tag_new_modal .tag_develop .footer button:hover {
  background: #D5E8F6;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
#mdh .modal.tag_new_modal .header {
  width: 20px;
  float: right;
  position: absolute;
  right: 11px;
  top: 6px;
}
#mdh .modal.tag_new_modal .header .fas.fa-times {
  color: #ccc;
  font-size: 30px;
  cursor: pointer;
}
#mdh .modal.tag_new_modal .geo_select {
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
#mdh .modal.tag_new_modal .geo_select h1 {
  margin: 0px;
}
#mdh .modal.tag_new_modal .geo_select .geo_info {
  color: #ccc;
  margin-top: 5px;
}
#mdh .modal.tag_new_modal .geo_select .geo_info i {
  margin-right: 5px;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate {
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 5px;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_hold {
  display: inline-block;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_header {
  height: 88px;
  border: 2px solid #d8e2fd;
  background: #e6eaf5;
  padding: 10px;
  position: relative;
  margin-bottom: 1px;
  display: block;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_header h3 {
  margin: 0px;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_header .fas.fa-globe {
  color: #ccc;
  position: absolute;
  top: 44px;
  left: 18px;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_header input[type='text'] {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #0076cd;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills {
  border: 2px solid #d8e2fd;
  background: #e6eaf5;
  width: 100%;
  display: block;
  padding: 5px;
  height: 400px;
  overflow-y: auto;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill {
  margin-bottom: 4px;
  height: 40px;
  padding: 4px;
  background: white;
  color: #ccc;
  -webkit-box-shadow: 0px 3px 5px 0px #c5d5e9;
  -moz-box-shadow: 0px 3px 5px 0px #c5d5e9;
  box-shadow: 0px 3px 5px 0px #c5d5e9;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill .pill_title {
  display: inline-block;
  margin-top: 6px;
  width: calc(100% - 66px);
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill .pill_drill_down {
  text-align: right;
  font-size: 20px;
  margin-top: 4px;
  display: inline-block;
  cursor: pointer;
  width: 23px;
  text-align: center;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill .pill_drill_down i {
  pointer-events: none;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill .pill_drill_down.active {
  color: #0076cd;
  background: #ccc;
  width: 23px;
  text-align: center;
  border-radius: 3px;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill .pill_drill_down.active i {
  pointer-events: none;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill.sel {
  background: #F8F8FF;
  Color: Black;
  font-weight: bold;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill.sel .pill_title {
  font-weight: bold;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_generate .geo_view_pills .pick_pill:hover {
  background: #F8F8FF;
  Color: Black;
  font-weight: bold;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_landed_pills {
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 5px;
  margin-left: auto;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_landed_pills h3 {
  margin: 0px;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_landed_pills .geo_header {
  height: 88px;
  border: 2px solid #d8e2fd;
  background: #e6eaf5;
  padding: 10px;
  position: relative;
  margin-bottom: 1px;
  display: block;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_landed_pills .geo_header .geo_label {
  text-align: center;
  padding: 20px;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_landed_pills .geo_view_pills {
  border: 2px solid #d8e2fd;
  background: #e6eaf5;
  width: 100%;
  display: block;
  padding: 9px;
  height: 400px;
  overflow-y: auto;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_landed_pills .geo_view_pills .set_pill_chosen {
  margin-bottom: 4px;
  color: white;
  height: 40px;
  padding: 9px;
  background: #0076cd;
  -webkit-box-shadow: 0px 3px 5px 0px #c5d5e9;
  -moz-box-shadow: 0px 3px 5px 0px #c5d5e9;
  box-shadow: 0px 3px 5px 0px #c5d5e9;
}
#mdh .modal.tag_new_modal .geo_select .geo_pill_parent .geo_landed_pills .geo_view_pills .set_pill_chosen .rem_pill {
  float: right;
}
#mdh .modal.tag_new_modal .geo_select .click_cont {
  cursor: pointer;
  width: 40px;
  height: 6px;
  color: #ccc;
  display: inline-block;
  position: relative;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mdh .modal.tag_new_modal .geo_select .click_cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#mdh .modal.tag_new_modal .geo_select .checkmark {
  position: absolute;
  top: -12px;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #eee;
}
#mdh .modal.tag_new_modal .geo_select .click_cont:hover input ~ .checkmark {
  background-color: #ccc;
}
#mdh .modal.tag_new_modal .geo_select .click_cont input:checked ~ .checkmark {
  background-color: #2196F3;
}
#mdh .modal.tag_new_modal .geo_select .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#mdh .modal.tag_new_modal .geo_select .click_cont input:checked ~ .checkmark:after {
  display: block;
}
#mdh .modal.tag_new_modal .geo_select .click_cont .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#mdh .modal.tag_new_modal .coo_select {
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
#mdh .modal.tag_new_modal .coo_select h1 {
  margin: 0px;
}
#mdh .modal.tag_new_modal .coo_select .coo_info {
  color: #ccc;
  margin-top: 5px;
}
#mdh .modal.tag_new_modal .coo_select .coo_info i {
  margin-right: 5px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_generate {
  display: inline-block;
  min-width: 45%;
  max-width: 500px;
  height: 100%;
  margin: 5px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_generate .coo_header {
  height: 88px;
  border: 2px solid #d8e2fd;
  background: #e6eaf5;
  padding: 10px;
  position: relative;
  margin-bottom: 1px;
  display: block;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_generate .coo_header h3 {
  margin: 0px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_generate .coo_header .fas.fa-globe {
  color: #ccc;
  position: absolute;
  top: 44px;
  left: 18px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_generate .coo_header input[type='text'] {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #0076cd;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_generate .coo_view_pills {
  border: 2px solid #d8e2fd;
  background: #e6eaf5;
  width: 100%;
  display: block;
  padding: 5px;
  height: 400px;
  overflow-y: auto;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_generate .coo_view_pills .pick_pill {
  margin-bottom: 4px;
  height: 40px;
  padding: 4px;
  background: white;
  color: #ccc;
  -webkit-box-shadow: 0px 3px 5px 0px #c5d5e9;
  -moz-box-shadow: 0px 3px 5px 0px #c5d5e9;
  box-shadow: 0px 3px 5px 0px #c5d5e9;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_generate .coo_view_pills .pick_pill .pill_title {
  display: inline-block;
  margin-top: 6px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_landed_pills {
  display: inline-block;
  min-width: 45%;
  max-width: 500px;
  height: 100%;
  margin: 5px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_landed_pills h3 {
  margin: 0px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_landed_pills .coo_header {
  height: 88px;
  border: 2px solid #d8e2fd;
  background: #e6eaf5;
  padding: 10px;
  position: relative;
  margin-bottom: 1px;
  display: block;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_landed_pills .coo_header .coo_label {
  text-align: center;
  padding: 20px;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_landed_pills .coo_view_pills {
  border: 2px solid #d8e2fd;
  background: #e6eaf5;
  width: 100%;
  display: block;
  padding: 9px;
  height: 400px;
  overflow-y: auto;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_landed_pills .coo_view_pills .set_pill_chosen {
  margin-bottom: 4px;
  color: white;
  height: 40px;
  padding: 9px;
  background: #0076cd;
  -webkit-box-shadow: 0px 3px 5px 0px #c5d5e9;
  -moz-box-shadow: 0px 3px 5px 0px #c5d5e9;
  box-shadow: 0px 3px 5px 0px #c5d5e9;
}
#mdh .modal.tag_new_modal .coo_select .coo_pill_parent .coo_landed_pills .coo_view_pills .set_pill_chosen .rem_pill {
  float: right;
}
#mdh .modal.tag_new_modal .coo_select .click_cont {
  cursor: pointer;
  width: 40px;
  height: 6px;
  color: #ccc;
  display: inline-block;
  position: relative;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mdh .modal.tag_new_modal .coo_select .click_cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#mdh .modal.tag_new_modal .coo_select .checkmark {
  position: absolute;
  top: -12px;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #eee;
}
#mdh .modal.tag_new_modal .coo_select .click_cont:hover input ~ .checkmark {
  background-color: #ccc;
}
#mdh .modal.tag_new_modal .coo_select .click_cont input:checked ~ .checkmark {
  background-color: #2196F3;
}
#mdh .modal.tag_new_modal .coo_select .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#mdh .modal.tag_new_modal .coo_select .click_cont input:checked ~ .checkmark:after {
  display: block;
}
#mdh .modal.tag_new_modal .coo_select .click_cont .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#mdh button:focus {
  outline: 0;
}
#mdh .mdh_toph {
  /* height: 96px;*/
  position: relative;
  /*margin-left: 33px;
        margin-right: 17px;
        margin-bottom: 20px;*/
}
#mdh .mdh_toph .mdh_lhead {
  height: 58px;
  width: 33%;
  display: inline-block;
}
#mdh .mdh_toph .mdh_border_sep {
  border-left: 2px solid #eeeeee;
  position: absolute;
  display: inline-block;
  height: 47px;
  left: 85px;
  top: 5px;
}
#mdh .mdh_toph .mdh_logo_cont {
  width: 90px;
  display: inline-block;
  height: inherit;
  margin-left: 14px;
}
#mdh .mdh_toph .mdh_logo_cont img {
  width: 59px;
}
#mdh .mdh_toph .mdh_titl {
  width: auto;
  display: inline-block;
  height: inherit;
  vertical-align: top;
}
#mdh .mdh_toph h2 {
  margin: 14px 10px 10px 15px;
  vertical-align: middle;
  font-weight: bold;
}
#mdh .mdh_toph .mdh_mhead {
  width: 33%;
  display: inline-block;
  height: 58px;
  vertical-align: top;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav {
  background: #f8f7f7;
  vertical-align: top;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 580px;
  text-align: center;
  height: 100%;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state {
  font-weight: 600;
  color: #c2c1c1;
  background: #f8f7f7;
  padding: 18px;
  border: none;
  height: 58px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 195px;
  display: inline-block;
  text-decoration: none;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:hover {
  color: black;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:first-child {
  margin-left: -3px;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:last-child {
  margin-right: -6px;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .on {
  background: white;
  -webkit-box-shadow: 0px 2px 5px 1px #e8ecf1;
  -moz-box-shadow: 0px 2px 5px 1px #e8ecf1;
  box-shadow: 0px 2px 5px 1px #e8ecf1;
  color: black;
}
#mdh .mdh_toph .mdh_rhead {
  display: inline-block;
  width: 33%;
  height: 58px;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 15px;
}
#mdh .mdh_toph .mdh_rhead .mdh_right_icons {
  text-align: right;
}
#mdh .mdh_toph .mdh_rhead .mdh_right_icons i {
  color: #c2c1c1;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  width: 40px;
}
#mdh .mdh_toph .mdh_rhead .mdh_right_icons i:hover {
  font-size: 25px;
  padding: 7px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
#mdh .mdh_main {
  background: #e6eaf5;
  height: calc(100vh - 90px);
  width: 100%;
  margin-top: 13px;
  box-shadow: inset 0px 11px 8px -10px #cccccc;
}
#mdh .mdh_main .mdh_left_nav {
  -webkit-box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 120px;
  height: 100%;
  background-color: #1b63b6;
  background-image: linear-gradient(#1b63b6, #002c5b);
  vertical-align: top;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons {
  height: 100%;
  position: relative;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .setHelp {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .setHelp .fas.fa-question-circle {
  font-size: 58px;
  width: 59px;
  border-radius: 50%;
  color: #002247;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set {
  text-align: center;
  display: block;
  border-bottom: 0.01em solid rgba(69, 115, 169, 0.3);
  height: 135px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set h4 {
  margin: 0px;
  color: #84a1c3;
  font-size: 11px;
  text-transform: uppercase;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set img {
  cursor: pointer;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set:not(.on):hover {
  border-radius: 50%;
  filter: brightness(0) invert(1);
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  /* ...and now for the proper property */
  transition: .3s;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on {
  position: relative;
  color: white;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on h4 {
  color: white;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .img-icons-list {
  filter: brightness(0) invert(1);
  cursor: default;
  fill: white;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .selected {
  position: absolute;
  height: 60px;
  width: 5px;
  background: white;
  left: 0px;
  top: 23px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .selected .shadow {
  width: 10px;
  margin-left: 3px;
  display: inline-block;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list {
  width: 60px;
  margin-top: 24px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list.tag {
  width: 50px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list.reports {
  width: 53px;
  margin-top: 22px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas.on {
  color: white;
  border: 3px solid white;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas .set.on {
  position: absolute;
  height: 100px;
  width: 8px;
  background: white;
  left: -23px;
  top: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas.fa-question-circle:hover {
  background: white;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
#mdh .mdh_main .mdh_box_views {
  text-align: center;
  margin-top: 25px;
}
#mdh .mdh_main .mdh_box_views .mdh_box {
  width: 23.5%;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: white;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
  -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
  box-shadow: 1px 4px 13px 1px #c1cae2;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_dummy {
  margin-top: 75%;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info h1 {
  font-size: 74px;
  font-weight: 700;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info h3 {
  color: #A9A8A8;
  text-transform: uppercase;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_bottom_row {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom {
  width: 49%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_graph {
  width: 49%;
  display: inline-block;
  text-align: right;
  font-size: 25px;
  padding: 10px;
  box-sizing: border-box;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_graph i {
  font-size: 46px;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom.red {
  color: red;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom.green {
  color: green;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 {
  width: 30%;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: white;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
  -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
  box-shadow: 1px 4px 13px 1px #c1cae2;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_dummy {
  margin-top: 75%;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info h1 {
  font-size: 74px;
  font-weight: 700;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info h3 {
  color: #A9A8A8;
  text-transform: uppercase;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_bottom_row {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom {
  width: 49%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_graph {
  width: 49%;
  display: inline-block;
  text-align: right;
  font-size: 25px;
  padding: 10px;
  box-sizing: border-box;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_graph i {
  font-size: 46px;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom.red {
  color: red;
}
#mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom.green {
  color: green;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 {
  width: 20%;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: white;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
  -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
  box-shadow: 1px 4px 13px 1px #c1cae2;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_dummy {
  margin-top: 75%;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info h1 {
  font-size: 74px;
  font-weight: 700;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info h3 {
  color: #A9A8A8;
  text-transform: uppercase;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_bottom_row {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info_bottom {
  width: 49%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info_graph {
  width: 49%;
  display: inline-block;
  text-align: right;
  font-size: 25px;
  padding: 10px;
  box-sizing: border-box;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info_graph i {
  font-size: 46px;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info_bottom.red {
  color: red;
}
#mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info_bottom.green {
  color: green;
}
.tag_viewp .tag_toph_nav {
  height: 100%;
}
.tag_viewp .tag_toph {
  background-image: linear-gradient(#1054a2, #002247);
  color: white;
  padding: 10px;
  height: 40%;
}
.tag_viewp .tag_toph .tag_toph_first,
.tag_viewp .tag_toph .tag_toph_second {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
  margin-top: 115px;
}
.tag_viewp .tag_toph .tag_toph_first .tag_toph_first_hold,
.tag_viewp .tag_toph .tag_toph_second .tag_toph_first_hold {
  width: 100%;
  display: block;
  height: 78px;
}
.tag_viewp .tag_toph .tag_toph_first .tag_toph_second_hold,
.tag_viewp .tag_toph .tag_toph_second .tag_toph_second_hold {
  width: 100%;
  display: block;
  height: 78px;
}
.tag_viewp .tag_toph .tag_seperator {
  position: absolute;
  left: -19px;
  top: 127px;
  width: 1px;
  border: 1px solid #1255a4;
  height: 164px;
  margin-right: auto;
  margin-left: auto;
  right: 0px;
}
.tag_viewp .tag_toph .tag_toph_first {
  text-align: right;
  padding-right: 40px;
}
.tag_viewp .tag_toph .tag_toph_first h2 {
  width: 260px;
  text-align: center;
  float: right;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_first h1 {
  width: 260px;
  text-align: center;
  float: right;
  font-size: 80px;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_second {
  text-align: left;
  padding-left: 40px;
}
.tag_viewp .tag_toph .tag_toph_second h2 {
  width: 330px;
  text-align: center;
  float: left;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_second h1 {
  width: 260px;
  text-align: center;
  float: left;
  font-size: 80px;
  margin: 0px;
}
.tag_viewp .tag_toph_nav .tag_filter {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: 60px;
  top: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #f8f7f7;
  border-top-right-radius: 30px;
  width: 300px;
}
.tag_viewp .tag_toph_nav .tag_filter button.active {
  background: white;
  -webkit-box-shadow: 5px 0px 5px -2px #e8ecf1;
  -moz-box-shadow: 5px 0px 5px -2px #e8ecf1;
  box-shadow: 5px 0px 5px -2px #e8ecf1;
  color: black;
}
.tag_viewp .tag_toph_nav .tag_filter button {
  font-weight: bold;
  color: #c2c1c1;
  background: #f8f7f7;
  padding: 18px;
  border: none;
  height: 58px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 100px;
  display: inline-block;
  text-decoration: none;
}
.tag_viewp .tag_toph_nav .tag_options_row {
  display: flex;
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options {
  margin-left: 40px;
  width: 33%;
  padding: 10px;
  display: inline-block;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all {
  width: auto;
  display: inline-block;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container {
  width: 140px;
  color: #ccc;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .checkmark {
  position: absolute;
  top: 5px;
  left: 23px;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #eee;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container:hover input ~ .checkmark {
  background-color: #ccc;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input:checked ~ .checkmark:after {
  display: block;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit {
  display: inline-block;
  width: auto;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit button {
  font-weight: bold;
  color: #0076cd;
  background: #f8f7f7;
  margin-left: 10px;
  border: 2px solid #0076cd;
  height: 38px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 180px;
  display: inline-block;
  text-decoration: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit button:hover {
  background: #D5E8F6;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag {
  display: inline-block;
  width: auto;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button {
  cursor: pointer;
  border: none;
  color: white;
  width: 180px;
  background: #0076cd;
  height: 38px;
  margin-left: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button .fas.fa-tags {
  margin-left: 5px;
  font-size: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button:hover {
  opacity: .80;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options {
  width: 33%;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_list {
  width: auto;
  display: inline-block;
  padding: 0px 10px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr {
  width: auto;
  display: inline-block;
  padding: 0px 10px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr .left-dir {
  padding: 0px 5px;
  font-size: 24px;
  color: #c2c1c1;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr .right-dir {
  padding: 0px 5px;
  font-size: 24px;
  color: #c2c1c1;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .right-dir.click,
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .left-dir.click {
  color: black;
  cursor: pointer;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_sel_listings {
  display: inline-block;
  padding: 0px 10px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_sel_listings select {
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid #b2c2eb;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options {
  margin-right: 4px;
  width: 33%;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby {
  height: 38px;
  margin-right: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #b2c2eb;
  width: 180px;
  padding-left: 15px;
  padding-right: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter {
  position: relative;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .tag_search {
  height: 38px;
  margin-right: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #b2c2eb;
  width: 220px;
  padding-left: 39px;
  padding-right: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .fas.fa-search {
  position: absolute;
  left: 17px;
  top: 1px;
  color: grey;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .fas.fa-search .tag_search:active {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .tag_search:focus {
  outline: 0;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .tag_search:active {
  outline: 0;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby:active {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby:focus {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_all_tags {
  display: block;
  height: calc(60% - 63px);
  overflow: hidden;
  padding: 10px;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags {
  overflow: auto;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -16px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data {
  display: table;
  width: 100%;
  margin-bottom: 6px;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont {
  display: table-cell;
  width: 55px;
  height: 100px;
  vertical-align: top;
  top: -35px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont {
  color: #ccc;
  display: inline-block;
  position: relative;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .checkmark {
  position: absolute;
  top: 5px;
  left: 23px;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #eee;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont:hover input ~ .checkmark {
  background-color: #ccc;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont input:checked ~ .checkmark {
  background-color: #2196F3;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont input:checked ~ .checkmark:after {
  display: block;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag {
  padding: 10px;
  width: 100%;
  background: white;
  display: table-cell;
  -webkit-box-shadow: 0px 3px 5px 0px #c5d5e9;
  -moz-box-shadow: 0px 3px 5px 0px #c5d5e9;
  box-shadow: 0px 3px 5px 0px #c5d5e9;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder {
  display: table;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list {
  font-size: 15px;
  width: 100%;
  display: table-cell;
  padding-left: 10px;
  vertical-align: top;
  padding-top: 10px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_name {
  font-weight: bold;
  margin-bottom: 5px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_status {
  color: #0076cd;
  margin-top: 4px;
  font-weight: bold;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_status .fas.fa-check {
  color: white;
  background: #0076cd;
  border-radius: 50%;
  padding: 3px;
  margin-right: 3px;
  font-size: 14px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_actions {
  width: 400px;
  text-align: right;
  padding-top: 10px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_actions button {
  font-weight: bold;
  color: #0076cd;
  background: white;
  font-size: 14px;
  border: 2px solid #0076cd;
  height: 38px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 103px;
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
  #mdh {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #mdh button:focus {
    outline: 0;
  }
  #mdh .mdh_toph {
    /* height: 96px;*/
    position: relative;
    /*margin-left: 33px;
        margin-right: 17px;
        margin-bottom: 20px;*/
  }
  #mdh .mdh_toph .mdh_lhead {
    height: 58px;
    width: 33%;
    display: inline-block;
  }
  #mdh .mdh_toph .mdh_border_sep {
    border-left: 2px solid #eeeeee;
    position: absolute;
    display: inline-block;
    height: 47px;
    left: 85px;
    top: 5px;
  }
  #mdh .mdh_toph .mdh_logo_cont {
    width: 90px;
    display: inline-block;
    height: inherit;
    margin-left: 14px;
  }
  #mdh .mdh_toph .mdh_logo_cont img {
    width: 59px;
  }
  #mdh .mdh_toph .mdh_titl {
    width: auto;
    display: inline-block;
    height: inherit;
    vertical-align: top;
  }
  #mdh .mdh_toph h2 {
    margin: 14px 10px 10px 15px;
    vertical-align: middle;
    font-weight: bold;
  }
  #mdh .mdh_toph .mdh_mhead {
    width: 34%;
    display: inline-block;
    height: 58px;
    vertical-align: top;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav {
    background: #f8f7f7;
    vertical-align: top;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 480px;
    text-align: center;
    height: 100%;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state {
    /*font-weight: bold;*/
    color: #A9A8A8;
    background: #f8f7f7;
    padding: 18px;
    border: none;
    font-size: 14px;
    height: 58px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
    width: 162px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:hover {
    color: black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:first-child {
    margin-left: -3px;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:last-child {
    margin-right: -6px;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .on {
    background: white;
    -webkit-box-shadow: 0px 2px 5px 1px #e8ecf1;
    -moz-box-shadow: 0px 2px 5px 1px #e8ecf1;
    box-shadow: 0px 2px 5px 1px #e8ecf1;
    color: black;
  }
  #mdh .mdh_toph .mdh_rhead {
    display: inline-block;
    width: 240px;
    height: 58px;
    vertical-align: top;
    margin-top: 10px;
    float: right;
    margin-right: 15px;
  }
  #mdh .mdh_toph .mdh_rhead .mdh_right_icons {
    text-align: right;
  }
  #mdh .mdh_toph .mdh_rhead .mdh_right_icons i {
    color: #c2c1c1;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    width: 40px;
  }
  #mdh .mdh_toph .mdh_rhead .mdh_right_icons i:hover {
    font-size: 25px;
    padding: 7px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
  }
  #mdh .mdh_main {
    background: #e6eaf5;
    height: calc(100vh - 90px);
    width: 100%;
    margin-top: 13px;
    box-shadow: inset 0px 11px 8px -10px #cccccc;
  }
  #mdh .mdh_main .mdh_left_nav {
    -webkit-box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 120px;
    height: 100%;
    background-color: #1b63b6;
    background-image: linear-gradient(#1b63b6, #002c5b);
    vertical-align: top;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons {
    height: 100%;
    position: relative;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .setHelp {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .setHelp .fas.fa-question-circle {
    font-size: 58px;
    width: 59px;
    border-radius: 50%;
    color: #002247;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set {
    text-align: center;
    display: block;
    border-bottom: 0.01em solid rgba(69, 115, 169, 0.3);
    height: 135px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set h4 {
    margin: 0px;
    color: #84a1c3;
    font-size: 11px;
    text-transform: uppercase;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set img {
    cursor: pointer;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set:not(.on):hover {
    border-radius: 50%;
    filter: brightness(0) invert(1);
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    /* ...and now for the proper property */
    transition: .3s;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on {
    position: relative;
    color: white;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on h4 {
    color: white;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .img-icons-list {
    filter: brightness(0) invert(1);
    cursor: default;
    fill: white;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .selected {
    position: absolute;
    height: 60px;
    width: 5px;
    background: white;
    left: 0px;
    top: 23px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .selected .shadow {
    width: 10px;
    margin-left: 3px;
    display: inline-block;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list {
    width: 60px;
    margin-top: 24px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list.tag {
    width: 50px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list.reports {
    width: 53px;
    margin-top: 22px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas.on {
    color: white;
    border: 3px solid white;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas .set.on {
    position: absolute;
    height: 100px;
    width: 8px;
    background: white;
    left: -23px;
    top: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas.fa-question-circle:hover {
    background: white;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
  }
  #mdh .mdh_main .mdh_box_views {
    text-align: center;
    margin-top: 25px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box {
    width: 23.5%;
    position: relative;
    display: inline-block;
    padding: 10px;
    background: white;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
    -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
    box-shadow: 1px 4px 13px 1px #c1cae2;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_dummy {
    margin-top: 75%;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info h1 {
    font-size: 74px;
    font-weight: 700;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info h3 {
    color: #A9A8A8;
    text-transform: uppercase;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_bottom_row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom {
    width: 49%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_graph {
    width: 49%;
    display: inline-block;
    text-align: right;
    font-size: 25px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_graph i {
    font-size: 46px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom.red {
    color: red;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom.green {
    color: green;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 {
    width: 30%;
    position: relative;
    display: inline-block;
    padding: 10px;
    background: white;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
    -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
    box-shadow: 1px 4px 13px 1px #c1cae2;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_dummy {
    margin-top: 75%;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info h1 {
    font-size: 74px;
    font-weight: 700;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info h3 {
    color: #A9A8A8;
    text-transform: uppercase;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_bottom_row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom {
    width: 49%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_graph {
    width: 49%;
    display: inline-block;
    text-align: right;
    font-size: 25px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_graph i {
    font-size: 46px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom.red {
    color: red;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom.green {
    color: green;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 {
    width: 20%;
    position: relative;
    display: inline-block;
    padding: 10px;
    background: white;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
    -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
    box-shadow: 1px 4px 13px 1px #c1cae2;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_dummy {
    margin-top: 75%;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info h1 {
    font-size: 74px;
    font-weight: 700;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info h3 {
    color: #A9A8A8;
    text-transform: uppercase;
  }
  #mdh .mdh_main .mdh_box_views .mdh_bottom_row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_bottom {
    width: 49%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_graph {
    width: 49%;
    display: inline-block;
    text-align: right;
    font-size: 25px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_graph i {
    font-size: 46px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_bottom.red {
    color: red;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_bottom.green {
    color: green;
  }
}
.tag_viewp .tag_toph_nav {
  height: 100%;
}
.tag_viewp .tag_toph {
  background-image: linear-gradient(#1054a2, #002247);
  color: white;
  padding: 10px;
  height: 40%;
}
.tag_viewp .tag_toph .tag_toph_first,
.tag_viewp .tag_toph .tag_toph_second {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
  margin-top: 115px;
}
.tag_viewp .tag_toph .tag_toph_first .tag_toph_first_hold,
.tag_viewp .tag_toph .tag_toph_second .tag_toph_first_hold {
  width: 100%;
  display: block;
  height: 78px;
}
.tag_viewp .tag_toph .tag_toph_first .tag_toph_second_hold,
.tag_viewp .tag_toph .tag_toph_second .tag_toph_second_hold {
  width: 100%;
  display: block;
  height: 78px;
}
.tag_viewp .tag_toph .tag_seperator {
  position: absolute;
  left: -19px;
  top: 127px;
  width: 1px;
  border: 1px solid #1255a4;
  height: 164px;
  margin-right: auto;
  margin-left: auto;
  right: 0px;
}
.tag_viewp .tag_toph .tag_toph_first {
  text-align: right;
  padding-right: 40px;
}
.tag_viewp .tag_toph .tag_toph_first h2 {
  width: 260px;
  text-align: center;
  float: right;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_first h1 {
  width: 260px;
  text-align: center;
  float: right;
  font-size: 80px;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_second {
  text-align: left;
  padding-left: 40px;
}
.tag_viewp .tag_toph .tag_toph_second h2 {
  width: 330px;
  text-align: center;
  float: left;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_second h1 {
  width: 260px;
  text-align: center;
  float: left;
  font-size: 80px;
  margin: 0px;
}
.tag_viewp .tag_toph_nav .tag_filter {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: 60px;
  top: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #f8f7f7;
  border-top-right-radius: 30px;
  width: 300px;
}
.tag_viewp .tag_toph_nav .tag_filter button.active {
  background: white;
  -webkit-box-shadow: 5px 0px 5px -2px #e8ecf1;
  -moz-box-shadow: 5px 0px 5px -2px #e8ecf1;
  box-shadow: 5px 0px 5px -2px #e8ecf1;
  color: black;
}
.tag_viewp .tag_toph_nav .tag_filter button {
  font-weight: bold;
  color: #c2c1c1;
  background: #f8f7f7;
  padding: 18px;
  border: none;
  height: 58px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 100px;
  display: inline-block;
  text-decoration: none;
}
.tag_viewp .tag_toph_nav .tag_options_row {
  display: flex;
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options {
  margin-left: 17px;
  width: 33%;
  padding: 10px 5px;
  display: inline-block;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all {
  width: auto;
  display: inline-block;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container {
  width: 97px;
  color: #ccc;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .checkmark {
  position: absolute;
  top: 9px;
  left: 5px;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #eee;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container:hover input ~ .checkmark {
  background-color: #ccc;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input:checked ~ .checkmark:after {
  display: block;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit {
  display: inline-block;
  width: auto;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit button {
  font-weight: bold;
  color: #0076cd;
  background: #f8f7f7;
  margin-left: 5px;
  border: 2px solid #0076cd;
  height: 38px;
  padding: 0px 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: auto;
  display: inline-block;
  text-decoration: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit button:hover {
  background: #D5E8F6;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag {
  display: inline-block;
  width: auto;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button {
  cursor: pointer;
  border: none;
  color: white;
  width: auto;
  padding: 0px 10px;
  background: #0076cd;
  height: 38px;
  margin-left: 5px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button .fas.fa-tags {
  margin-left: 5px;
  font-size: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button:hover {
  opacity: .80;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options {
  width: 30%;
  padding: 10px 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_pagination {
  font-size: 14px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_list {
  width: auto;
  display: inline-block;
  padding: 0px 5px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr {
  width: auto;
  display: inline-block;
  padding: 0px 5px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr .left-dir {
  padding: 0px 5px;
  font-size: 24px;
  color: #c2c1c1;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr .right-dir {
  padding: 0px 5px;
  font-size: 24px;
  color: #c2c1c1;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .right-dir.click,
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .left-dir.click {
  color: black;
  cursor: pointer;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_sel_listings {
  display: inline-block;
  padding: 0px 5px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_sel_listings select {
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
  border: 2px solid #b2c2eb;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options {
  margin-right: 0px;
  width: 37%;
  padding: 10px 5px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby {
  height: 38px;
  margin-right: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #b2c2eb;
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter {
  position: relative;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .tag_search {
  height: 38px;
  margin-right: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #b2c2eb;
  width: 200px;
  padding-left: 39px;
  padding-right: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .fas.fa-search {
  position: absolute;
  left: 17px;
  top: 1px;
  color: grey;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .fas.fa-search .tag_search:active {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby:active {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby:focus,
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search:focus {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_all_tags {
  display: block;
  height: calc(60% - 63px);
  overflow: hidden;
  padding: 10px;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags {
  overflow: auto;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -16px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data {
  display: table;
  width: 100%;
  margin-bottom: 6px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont {
  display: inline-block;
  width: 55px;
  height: 100px;
  vertical-align: top;
  top: -15px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag {
  padding: 10px;
  width: 100%;
  background: white;
  display: table-cell;
  -webkit-box-shadow: 0px 3px 5px 0px #c5d5e9;
  -moz-box-shadow: 0px 3px 5px 0px #c5d5e9;
  box-shadow: 0px 3px 5px 0px #c5d5e9;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder {
  display: table;
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list {
  font-size: 15px;
  width: 61%;
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  padding-top: 10px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_name {
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 100%;
  word-wrap: break-word;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_activeDate {
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_lastScan {
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_status {
  color: #0076cd;
  margin-top: 4px;
  font-weight: bold;
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_status .fas.fa-check {
  color: white;
  background: #0076cd;
  border-radius: 50%;
  padding: 3px;
  margin-right: 3px;
  font-size: 14px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_actions {
  width: auto;
  vertical-align: top;
  display: inline-block;
  text-align: right;
  padding-top: 10px;
  float: right;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_actions button {
  font-weight: bold;
  color: #0076cd;
  background: white;
  font-size: 14px;
  border: 2px solid #0076cd;
  height: 38px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 103px;
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
}
@media screen and (min-width: 1600px) and (max-width: 2000px) {
  #mdh {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #mdh button:focus {
    outline: 0;
  }
  #mdh .mdh_toph {
    /* height: 96px;*/
    position: relative;
    /* margin-left: 33px;
        margin-right: 17px;
        margin-bottom: 20px;*/
  }
  #mdh .mdh_toph .mdh_lhead {
    height: 58px;
    width: 33%;
    display: inline-block;
  }
  #mdh .mdh_toph .mdh_border_sep {
    border-left: 2px solid #eeeeee;
    position: absolute;
    display: inline-block;
    height: 47px;
    left: 85px;
    top: 5px;
  }
  #mdh .mdh_toph .mdh_logo_cont {
    width: 90px;
    display: inline-block;
    height: inherit;
    margin-left: 14px;
  }
  #mdh .mdh_toph .mdh_logo_cont img {
    width: 59px;
  }
  #mdh .mdh_toph .mdh_titl {
    width: auto;
    display: inline-block;
    height: inherit;
    vertical-align: top;
  }
  #mdh .mdh_toph h2 {
    margin: 14px 10px 10px 15px;
    vertical-align: middle;
    font-weight: bold;
  }
  #mdh .mdh_toph .mdh_mhead {
    width: 34%;
    display: inline-block;
    height: 58px;
    vertical-align: top;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav {
    background: #f8f7f7;
    vertical-align: top;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 480px;
    text-align: center;
    height: 100%;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state {
    /*font-weight: bold;*/
    color: #A9A8A8;
    background: #f8f7f7;
    padding: 18px;
    border: none;
    font-size: 14px;
    height: 58px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
    width: 162px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:hover {
    color: black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:first-child {
    margin-left: -3px;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:last-child {
    margin-right: -6px;
  }
  #mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .on {
    background: white;
    -webkit-box-shadow: 0px 2px 5px 1px #e8ecf1;
    -moz-box-shadow: 0px 2px 5px 1px #e8ecf1;
    box-shadow: 0px 2px 5px 1px #e8ecf1;
    color: black;
  }
  #mdh .mdh_toph .mdh_rhead {
    display: inline-block;
    width: 240px;
    height: 58px;
    vertical-align: top;
    margin-top: 10px;
    float: right;
    margin-right: 15px;
  }
  #mdh .mdh_toph .mdh_rhead .mdh_right_icons {
    text-align: right;
  }
  #mdh .mdh_toph .mdh_rhead .mdh_right_icons i {
    color: #c2c1c1;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    width: 40px;
  }
  #mdh .mdh_toph .mdh_rhead .mdh_right_icons i:hover {
    font-size: 25px;
    padding: 7px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
  }
  #mdh .mdh_main {
    background: #e6eaf5;
    height: calc(100vh - 90px);
    width: 100%;
    margin-top: 13px;
    box-shadow: inset 0px 11px 8px -10px #cccccc;
  }
  #mdh .mdh_main .mdh_left_nav {
    -webkit-box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 120px;
    height: 100%;
    background-color: #1b63b6;
    background-image: linear-gradient(#1b63b6, #002c5b);
    vertical-align: top;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons {
    height: 100%;
    position: relative;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .setHelp {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .setHelp .fas.fa-question-circle {
    font-size: 58px;
    width: 59px;
    border-radius: 50%;
    color: #002247;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set {
    text-align: center;
    display: block;
    border-bottom: 0.01em solid rgba(69, 115, 169, 0.3);
    height: 135px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set h4 {
    margin: 0px;
    color: #84a1c3;
    font-size: 11px;
    text-transform: uppercase;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set img {
    cursor: pointer;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set:not(.on):hover {
    border-radius: 50%;
    filter: brightness(0) invert(1);
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    /* ...and now for the proper property */
    transition: .3s;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on {
    position: relative;
    color: white;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on h4 {
    color: white;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .img-icons-list {
    filter: brightness(0) invert(1);
    cursor: default;
    fill: white;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .selected {
    position: absolute;
    height: 60px;
    width: 5px;
    background: white;
    left: 0px;
    top: 23px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .selected .shadow {
    width: 10px;
    margin-left: 3px;
    display: inline-block;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list {
    width: 60px;
    margin-top: 24px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list.tag {
    width: 50px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list.reports {
    width: 53px;
    margin-top: 22px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas.on {
    color: white;
    border: 3px solid white;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas .set.on {
    position: absolute;
    height: 100px;
    width: 8px;
    background: white;
    left: -23px;
    top: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  #mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas.fa-question-circle:hover {
    background: white;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
  }
  #mdh .mdh_main .mdh_box_views {
    text-align: center;
    margin-top: 25px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box {
    width: 23.5%;
    position: relative;
    display: inline-block;
    padding: 10px;
    background: white;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
    -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
    box-shadow: 1px 4px 13px 1px #c1cae2;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_dummy {
    margin-top: 75%;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info h1 {
    font-size: 74px;
    font-weight: 700;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info h3 {
    color: #A9A8A8;
    text-transform: uppercase;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_bottom_row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom {
    width: 49%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_graph {
    width: 49%;
    display: inline-block;
    text-align: right;
    font-size: 25px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_graph i {
    font-size: 46px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom.red {
    color: red;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom.green {
    color: green;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 {
    width: 30%;
    position: relative;
    display: inline-block;
    padding: 10px;
    background: white;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
    -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
    box-shadow: 1px 4px 13px 1px #c1cae2;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_dummy {
    margin-top: 75%;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info h1 {
    font-size: 74px;
    font-weight: 700;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info h3 {
    color: #A9A8A8;
    text-transform: uppercase;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_bottom_row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom {
    width: 49%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_graph {
    width: 49%;
    display: inline-block;
    text-align: right;
    font-size: 25px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_graph i {
    font-size: 46px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom.red {
    color: red;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_1 .mdh_info_bottom.green {
    color: green;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 {
    width: 20%;
    position: relative;
    display: inline-block;
    padding: 10px;
    background: white;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
    -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
    box-shadow: 1px 4px 13px 1px #c1cae2;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_dummy {
    margin-top: 75%;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info h1 {
    font-size: 74px;
    font-weight: 700;
  }
  #mdh .mdh_main .mdh_box_views .mdh_box_2 .mdh_info h3 {
    color: #A9A8A8;
    text-transform: uppercase;
  }
  #mdh .mdh_main .mdh_box_views .mdh_bottom_row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_bottom {
    width: 49%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_graph {
    width: 49%;
    display: inline-block;
    text-align: right;
    font-size: 25px;
    padding: 10px;
    box-sizing: border-box;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_graph i {
    font-size: 46px;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_bottom.red {
    color: red;
  }
  #mdh .mdh_main .mdh_box_views .mdh_info_bottom.green {
    color: green;
  }
}
.tag_viewp .tag_toph_nav {
  height: 100%;
}
.tag_viewp .tag_toph {
  background-image: linear-gradient(#1054a2, #002247);
  color: white;
  padding: 10px;
  height: 40%;
}
.tag_viewp .tag_toph .tag_toph_first,
.tag_viewp .tag_toph .tag_toph_second {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
  margin-top: 115px;
}
.tag_viewp .tag_toph .tag_toph_first .tag_toph_first_hold,
.tag_viewp .tag_toph .tag_toph_second .tag_toph_first_hold {
  width: 100%;
  display: block;
  height: 78px;
}
.tag_viewp .tag_toph .tag_toph_first .tag_toph_second_hold,
.tag_viewp .tag_toph .tag_toph_second .tag_toph_second_hold {
  width: 100%;
  display: block;
  height: 78px;
}
.tag_viewp .tag_toph .tag_seperator {
  position: absolute;
  left: -19px;
  top: 127px;
  width: 1px;
  border: 1px solid #1255a4;
  height: 164px;
  margin-right: auto;
  margin-left: auto;
  right: 0px;
}
.tag_viewp .tag_toph .tag_toph_first {
  text-align: right;
  padding-right: 40px;
}
.tag_viewp .tag_toph .tag_toph_first h2 {
  width: 260px;
  text-align: center;
  float: right;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_first h1 {
  width: 260px;
  text-align: center;
  float: right;
  font-size: 80px;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_second {
  text-align: left;
  padding-left: 40px;
}
.tag_viewp .tag_toph .tag_toph_second h2 {
  width: 330px;
  text-align: center;
  float: left;
  margin: 0px;
}
.tag_viewp .tag_toph .tag_toph_second h1 {
  width: 260px;
  text-align: center;
  float: left;
  font-size: 80px;
  margin: 0px;
}
.tag_viewp .tag_toph_nav .tag_filter {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: 60px;
  top: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #f8f7f7;
  border-top-right-radius: 30px;
  width: 300px;
}
.tag_viewp .tag_toph_nav .tag_filter button.active {
  background: white;
  -webkit-box-shadow: 5px 0px 5px -2px #e8ecf1;
  -moz-box-shadow: 5px 0px 5px -2px #e8ecf1;
  box-shadow: 5px 0px 5px -2px #e8ecf1;
  color: black;
}
.tag_viewp .tag_toph_nav .tag_filter button {
  font-weight: bold;
  color: #c2c1c1;
  background: #f8f7f7;
  padding: 18px;
  border: none;
  height: 58px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 100px;
  display: inline-block;
  text-decoration: none;
}
.tag_viewp .tag_toph_nav .tag_options_row {
  display: flex;
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options {
  margin-left: 17px;
  width: 33%;
  padding: 10px 5px;
  display: inline-block;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all {
  width: auto;
  display: inline-block;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container {
  width: 97px;
  color: #ccc;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .checkmark {
  position: absolute;
  top: 9px;
  left: 5px;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #eee;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container:hover input ~ .checkmark {
  background-color: #ccc;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container input:checked ~ .checkmark:after {
  display: block;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_sel_all .click_container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit {
  display: inline-block;
  width: auto;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit button {
  font-weight: bold;
  color: #0076cd;
  background: #f8f7f7;
  margin-left: 5px;
  border: 2px solid #0076cd;
  height: 38px;
  padding: 0px 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: auto;
  display: inline-block;
  text-decoration: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .tag_mass_edit button:hover {
  background: #D5E8F6;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag {
  display: inline-block;
  width: auto;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button {
  cursor: pointer;
  border: none;
  color: white;
  width: auto;
  padding: 0px 10px;
  background: #0076cd;
  height: 38px;
  margin-left: 5px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button .fas.fa-tags {
  margin-left: 5px;
  font-size: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_left_tag_options .add_new_tag button:hover {
  opacity: .80;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options {
  width: 30%;
  padding: 10px 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_pagination {
  font-size: 14px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_list {
  width: auto;
  display: inline-block;
  padding: 0px 5px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr {
  width: auto;
  display: inline-block;
  padding: 0px 5px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr .left-dir {
  padding: 0px 5px;
  font-size: 24px;
  color: #c2c1c1;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_lr .right-dir {
  padding: 0px 5px;
  font-size: 24px;
  color: #c2c1c1;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .right-dir.click,
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .left-dir.click {
  color: black;
  cursor: pointer;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_sel_listings {
  display: inline-block;
  padding: 0px 5px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_center_tag_options .tag_sel_listings select {
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
  border: 2px solid #b2c2eb;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options {
  margin-right: 0px;
  width: 37%;
  padding: 10px 5px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby {
  height: 38px;
  margin-right: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #b2c2eb;
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter {
  position: relative;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .tag_search {
  height: 38px;
  margin-right: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #b2c2eb;
  width: 200px;
  padding-left: 39px;
  padding-right: 15px;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .fas.fa-search {
  position: absolute;
  left: 17px;
  top: 1px;
  color: grey;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search_filter .fas.fa-search .tag_search:active {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby:active {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_options_sortby:focus,
.tag_viewp .tag_toph_nav .tag_options_row .tag_right_tag_options .tag_search:focus {
  border: 2px solid #b2c2eb;
  outline: none;
}
.tag_viewp .tag_toph_nav .tag_all_tags {
  display: block;
  height: calc(60% - 63px);
  overflow: hidden;
  padding: 10px;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags {
  overflow: auto;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -16px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data {
  display: table;
  width: 100%;
  margin-bottom: 6px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .click_cont {
  display: inline-block;
  width: 55px;
  height: 100px;
  vertical-align: top;
  top: -15px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag {
  padding: 10px;
  width: 100%;
  background: white;
  display: table-cell;
  -webkit-box-shadow: 0px 3px 5px 0px #c5d5e9;
  -moz-box-shadow: 0px 3px 5px 0px #c5d5e9;
  box-shadow: 0px 3px 5px 0px #c5d5e9;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder {
  display: table;
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list {
  font-size: 15px;
  width: 72%;
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  padding-top: 10px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_name {
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 100%;
  word-wrap: break-word;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_activeDate {
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_lastScan {
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_status {
  color: #0076cd;
  margin-top: 4px;
  font-weight: bold;
  width: 100%;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_list .tag_status .fas.fa-check {
  color: white;
  background: #0076cd;
  border-radius: 50%;
  padding: 3px;
  margin-right: 3px;
  font-size: 14px;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_actions {
  width: auto;
  vertical-align: top;
  display: inline-block;
  text-align: right;
  padding-top: 10px;
  float: right;
}
.tag_viewp .tag_toph_nav .tag_all_tags .tag_row_tags .tag_tags_data .tag_tag .tag_holder .tag_actions button {
  font-weight: bold;
  color: #0076cd;
  background: white;
  font-size: 14px;
  border: 2px solid #0076cd;
  height: 38px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 103px;
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
}
