* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("/css/fonts/montser/Montserrat-Black.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/css/fonts/montser/Montserrat-Regular.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/css/fonts/montser/Montserrat-Bold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/css/fonts/montser/Montserrat-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}
.mdh_viewp,
.mec_viewp,
.tag_viewp {
  display: inline-block;
  width: calc(100% - 121px);
  height: 100%;
  margin-left: -5px;
  position: relative;
  z-index: 0;
}
.mdh_viewp .mdh_viewp_top_nav {
  padding: 10px;
}
#mdh {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  /*padding: 8px 16px 16px 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;*/
}
#mdh button:focus {
  outline: 0;
}
#mdh .mdh_toph {
  height: 58px;
  position: relative;
  margin-left: 33px;
  margin-right: 17px;
  margin-bottom: 20px;
}
#mdh .mdh_toph .mdh_lhead {
  height: 58px;
  width: 33%;
  display: inline-block;
}
#mdh .mdh_toph .mdh_border_sep {
  border-left: 2px solid #eeeeee;
  position: absolute;
  display: inline-block;
  height: 47px;
  left: 85px;
  top: 5px;
}
#mdh .mdh_toph .mdh_logo_cont {
  width: 90px;
  display: inline-block;
  height: inherit;
}
#mdh .mdh_toph .mdh_logo_cont img {
  width: 59px;
}
#mdh .mdh_toph .mdh_titl {
  width: auto;
  display: inline-block;
  height: inherit;
  vertical-align: top;
}
#mdh .mdh_toph h2 {
  margin: 14px 10px 10px 15px;
  vertical-align: middle;
  font-weight: bold;
}
#mdh .mdh_toph .mdh_mhead {
  width: 33%;
  display: inline-block;
  height: 58px;
  vertical-align: top;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav {
  background: #f8f7f7;
  vertical-align: top;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 590px;
  text-align: center;
  height: 100%;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state {
  font-weight: bold;
  color: #c2c1c1;
  background: #f8f7f7;
  padding: 18px;
  border: none;
  height: 58px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  width: 195px;
  display: inline-block;
  text-decoration:none; 
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:hover {
  color: black;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:first-child {
  margin-left: -3px;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .state:last-child {
  margin-right: -6px;
}
#mdh .mdh_toph .mdh_mhead .mdh_mid_btn_nav .on {
  background: white;
  -webkit-box-shadow: 0px 2px 5px 1px #e8ecf1;
  -moz-box-shadow: 0px 2px 5px 1px #e8ecf1;
  box-shadow: 0px 2px 5px 1px #e8ecf1;
  color: black;
}
#mdh .mdh_toph .mdh_rhead {
  display: inline-block;
  width: 33%;
  height: 58px;
  vertical-align: top;
  margin-top: 10px;
}
#mdh .mdh_toph .mdh_rhead .mdh_right_icons {
  text-align: right;
}
#mdh .mdh_toph .mdh_rhead .mdh_right_icons i {
  color: #c2c1c1;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  width: 56px;
}
#mdh .mdh_toph .mdh_rhead .mdh_right_icons i:hover {
  font-size: 25px;
  padding: 7px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
#mdh .mdh_main {
  background: #e6eaf5;
  height: 75vh;
  width: 100%;
  margin-top: 13px;
  box-shadow: inset 0px 11px 8px -10px #cccccc;
}
#mdh .mdh_main .mdh_left_nav {
  -webkit-box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 2px 28px -12px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 120px;
  height: 100%;
  background-color: #1b63b6;
  background-image: linear-gradient(#1b63b6, #002c5b);
  vertical-align: top;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons {
  height: 100%;
  position: relative;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .setHelp {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .setHelp .fas.fa-question-circle {
  font-size: 58px;
  width: 59px;
  border-radius: 50%;
  color: #002247;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set {
  text-align: center;
  display: block;
  border-bottom: 0.01em solid rgba(69, 115, 169, 0.9);
  height: 135px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set h4 {
  margin: 0px;
  color: #84a1c3;
  font-size: 11px;
  text-transform: uppercase;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set img {
  cursor: pointer;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set:not(.on):hover {
  border-radius: 50%;
  filter: brightness(0) invert(1);
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  /* ...and now for the proper property */
  transition: .3s;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on {
  position: relative;
  color: white;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on h4 {
  color: white;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .img-icons-list {
  filter: brightness(0) invert(1);
  cursor: default;
  fill: white;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .selected {
  position: absolute;
  height: 60px;
  width: 5px;
  background: white;
  left: 0px;
  top: 23px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .set.on .selected .shadow {
  width: 10px;
  margin-left: 3px;
  display: inline-block;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list {
  width: 60px;
  margin-top: 24px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list.tag {
  width: 50px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons .img-icons-list.reports {
  width: 53px;
  margin-top: 22px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas.on {
  color: white;
  border: 3px solid white;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas .set.on {
  position: absolute;
  height: 100px;
  width: 8px;
  background: white;
  left: -23px;
  top: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
#mdh .mdh_main .mdh_left_nav .mdh_left_nav_icons i.fas.fa-question-circle:hover {
  background: white;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
#mdh .mdh_main .mdh_box_views {
  text-align: center;
}
#mdh .mdh_main .mdh_box_views .mdh_box {
  width: 23.5%;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: white;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 13px 1px #c1cae2;
  -moz-box-shadow: 1px 4px 13px 1px #c1cae2;
  box-shadow: 1px 4px 13px 1px #c1cae2;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_dummy {
  margin-top: 75%;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info h1 {
  font-size: 74px;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_bottom_row {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom {
  width: 49%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_graph {
  width: 49%;
  display: inline-block;
  text-align: right;
  font-size: 25px;
  padding: 10px;
  box-sizing: border-box;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_graph i {
  font-size: 46px;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom.red {
  color: red;
}
#mdh .mdh_main .mdh_box_views .mdh_box .mdh_info_bottom.green {
  color: green;
}
.mec_viewp {
  color: red;
}
.tag_viewp .tag_toph {
  background-image: linear-gradient(#1054a2, #002247);
  color: white;
  padding: 10px;
  height: 400px;
}
.tag_viewp .tag_toph .tag_toph_first,
.tag_viewp .tag_toph .tag_toph_second {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin-top: 115px;
}
.tag_viewp .tag_toph .tag_toph_first .tag_toph_first_hold,
.tag_viewp .tag_toph .tag_toph_second .tag_toph_first_hold {
  width: 100%;
  display: block;
  height: 100px;
}
.tag_viewp .tag_toph .tag_seperator {
  position: absolute;
  left: 49%;
  top: 150px;
  width: 1px;
  border: 1px solid #1255a4;
  height: 215px;
}
.tag_viewp .tag_toph .tag_toph_first {
  text-align: right;
  padding-right: 40px;
}
.tag_viewp .tag_toph .tag_toph_first h2 {
  width: 260px;
  text-align: center;
  float: right;
}
.tag_viewp .tag_toph .tag_toph_first h1 {
  width: 260px;
  text-align: center;
  float: right;
  font-size: 80px;
  margin-top: 0px;
}
.tag_viewp .tag_toph .tag_toph_second {
  text-align: left;
  padding-left: 20px;
}
.tag_viewp .tag_toph_nav .tag_filter {
  position: absolute;
  left: 30%;
  background: white;
  height: 40px;
}
